- if (!everyauth.loggedIn)
  #google-login
      section
        br
        h2 Welcome
            br
            br
        p Login
            a(href='/auth/google', style='border: 0px; margin:5px;')
                img(style='border: 0px', src='https://www.google.com/favicon.ico')
- else
    section
        nav
            a(href='#' ,id='current') NOTES
            a(href='create.html') CREATE
            a(href='/logout') SIGN OUT
        section
            hr
        -each blogPost in posts
            article
                header
                    #{blogPost.title}
                article
                    #{blogPost.content}

